<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} - {% endif %}{{site.title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% if page.excerpt !=null %}{{ page.excerpt | excerpt_separator:'' | strip_html }}{% else %}{{site.description}}{% endif %}">
    <meta name="keywords" content="{% if page.tags.size>0 %}{{page.tags | join:','}},{% endif %}{{site.keywords}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/markdown.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/highlighter.github.css">
</head>
