<style>
    .u-reward {
        margin: 2rem 0;
        text-align: center;
    }
    
    .u-reward button {
        padding: .4rem 1rem;
        font-size: 1rem;
        background: #c00;
        border: 0;
        border-radius: 6px;
        color: #fff;
    }
    
    .u-reward-box {
        display: none;
        opacity: 0;
        transition: all 0.8s linear;
    }
    
    .u-reward-bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .2);
        z-index: 998;
    }
    
    .u-reward-block {
        position: fixed;
        top: 20%;
        left: 50%;
        margin-left: -400px;
        padding: 0 20px 1rem;
        width: 800px;
        background: #fff;
        z-index: 999;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
    }
    
    .u-reward-block .close {
        text-align: right;
    }
    
    .u-reward-block .close span {
        cursor: pointer;
    }
    
    .u-reward-block img {
        width: 45%;
    }
    
    @media screen and (max-width: 650px) {
        .u-reward {
            display: none;
        }
        .u-reward-block{
            width: 80%;
            left: 0;
            margin: 0 10%
        }
    }
</style>
<div class="u-reward" id="J_ArticleReward">
    <button id="J_RewardBtn">打赏</button>
</div>
<div class="u-reward-box" id="J_RewardBox">
    <div class="u-reward-bg" id="J_RewardBg"></div>
    <div class="u-reward-block">
        <div class='close'><span id="J_RewardClose">&times;</span></div>
        <p>如果觉得我的文章对您有用，请随意打赏。您的支持将鼓励我继续创作！</p>
        <img id="J_RewardAlipay" src="{{site.baseurl}}/assets/img/alipay.png">
        <img id="J_RewardWeixin" src="{{site.baseurl}}/assets/img/wechat.png">
        <p id="J_RewardWeixinTips" style="display:none">请按住二维码，选择“识别图中二维码”</p>
    </div>
</div>
<script>
var btnReward = document.getElementById('J_RewardBtn');
var boxReward = document.getElementById('J_RewardBox');
var bgReward = document.getElementById('J_RewardBg');
var closeBtn = document.getElementById('J_RewardClose');
btnReward.addEventListener('click', function() {
    _hmt.push(['_trackEvent', 'reward', document.title]);
    boxReward.style.display = 'block';
    setTimeout(function() {
        boxReward.style.opacity = 1;
    }, 0);
}, false);

bgReward.addEventListener('click', function() {
    boxReward.style.opacity = 0;
    setTimeout(function() {
        boxReward.style.display = 'none';
    }, 1000);
}, false);

closeBtn.addEventListener('click', function() {
    boxReward.style.opacity = 0;
    setTimeout(function() {
        boxReward.style.display = 'none';
    }, 1000);
}, false);

var isWeixinBrowser = function(){
    var ua = navigator.userAgent;
    if(/MicroMessenger/i.test(ua) && /Mobile/i.test(ua)){
        return true;    
    }
    return false;
};

if(isWeixinBrowser()){
    document.getElementById('J_ArticleReward').style.display = 'block';
    document.getElementById('J_RewardAlipay').style.display = 'none';
    document.getElementById('J_RewardWeixinTips').style.display = 'block';
}
</script>