<div id="container"></div>
<!-- <link rel="stylesheet" href="https://gh-oauth.fridaycoder.com/static/default.css">
<script src="https://gh-oauth.fridaycoder.com/static/gitment.browser.js"></script>
<script>
  var gitment = new Gitment({
    id: window.location.pathname,
    title: document.title.split('-')[0],
    owner: 'yukapril',
    repo: 'yukapril.com',
    oauth: {
      client_id: '23626203487a60f08999',
      client_secret: '2c793cb31f494d7585b99ffe95834e072056290a',
    },
  })
  gitment.render('container')
</script> -->