/* reset */
* {
    margin: 0;
    padding: 0;
}

html,
textarea,
select,
input {
    font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei,
    Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}

html {
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    font-size: 20px;
    color: #333;
}

html,
body {
    height: 100%;
}

fieldset,
img,
html,
body,
iframe {
    border: 0;
}

li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

/* commons */
.f-cf:before,
.f-cf:after {
    content: "";
    display: table;
}

.f-cf:after {
    clear: both;
}

.f-cf {
    zoom: 1;
}

.f-dib {
    display: inline-block;
}

.f-tac {
    text-align: center;
}

.f-w960 {
    margin: 0 auto;
    max-width: 960px;
}

.f-links-x,
.f-links-y {
    position: relative;
}

.f-links-x:after,
.f-links-y:after {
    content: "";
    position: absolute;
    bottom: 0;
    background: #333;
    transition: all 0.2s ease-in-out 0s;
}

.f-links-x:after {
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
}

.f-links-x:hover:after {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.f-links-y:after {
    left: -6px;
    width: 2px;
    height: 100%;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
}

.f-links-y:hover:after {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
}

/* 顶栏 */
.g-header {
    padding: 0.5rem 0 1rem;
    width: 100%;
    font-size: 1.3rem;
    background: #f1f1f1;
}

.g-header .list li {
    display: inline-block;
}

.g-header .list .cat {
    display: none;
}

.g-header .cat-list {
    display: none;
}

.g-header a {
    color: #666;
}

.g-header a:hover {
    color: #333;
}

.g-banner {
    margin-bottom: 1rem;
    width: 100%;
    overflow: hidden;
}

.g-banner .wrapper {
    position: relative;
    margin: 0 auto;
    width: 900px;
}

.g-banner h1 {
    color: #444;
    font-size: 2rem;
    text-align: center;
}

/* 正文 */
.g-main {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

/* 区块 */
.g-block {
    margin-bottom: 4rem;
}

.g-block .title {
    margin-bottom: 1rem;
    border-bottom: 2px solid #f1f1f1;
    text-align: center;
    font-size: 1.3rem;
}

.g-block .title span {
    display: inline-block;
    padding: 0.2rem 0.8rem;
    background: #f1f1f1;
}

/* 分类目录 */
.g-category {
}

.g-category .list li {
    float: left;
    width: 50%;
    text-align: center;
}

.g-category .list a {
    color: #333;
}

/* 首页-文章列表 */
.g-posts {
}

.g-posts .post-title a {
    color: #333;
    transition: all 0.2s ease-in-out 0s;
}

.g-posts .post-title a:active {
    color: #333;
}

.g-posts .post-title a:visited {
    color: #777;
}

.g-posts .post-title a:hover {
    color: #c00;
}

.g-posts .post-item {
    position: relative;
    margin-bottom: 2rem;
}

.g-posts .left,
.g-posts .right,
.g-posts .post-image {
    display: inline-block;
    vertical-align: top;
}

.g-posts .left {
    width: 20%;
    margin-top: 2rem;
    margin-right: 3%;
}

.g-posts .right {
    width: 75%;
}

.g-posts .left .cat {
    display: none;
}

.g-posts .post-image {
    display: none;
}

.g-posts .post-item.image .post-image {
    float: right;
    display: inline-block;
    margin-top: 1.8rem;
    width: 20%;
    overflow: hidden;
}

.g-posts .post-image img {
    width: 100%;
}

.g-posts .post-item.image .right {
    width: 54%;
}

.g-posts time {
    display: block;
    margin: 0 auto;
    width: 80px;
    text-align: center;
}

.g-posts .time1 {
    display: block;
    width: 80px;
    line-height: 80px;
    background: #666;
    border-radius: 100%;
    font-size: 2rem;
    color: #fff;
}

.g-posts .post-title {
    font-size: 1.5rem;
    font-weight: 900;
}

.g-posts .post-source {
    font-size: 1rem;
    font-weight: 300;
}

.g-posts .post-source .tags {
    margin-left: 4rem;
}

.g-posts .post-excerpt a,
.g-posts .post-excerpt a:visited {
    border-bottom: 1px solid #999;
}

.g-posts .post-item .sep {
    margin: 2rem 0 0 20%;
    width: 70%;
    border-top: 2px dashed #aaa;
}

/* 分页 */

.g-pagination {
    border-top: 2px solid #f1f1f1;
    font-size: 1.3rem;
}

.g-pagination .pre {
    float: left;
}

.g-pagination .next {
    float: right;
}

.g-pagination .pre span,
.g-pagination .next span {
    display: inline-block;
    padding: 0.2rem 1.5rem;
    background: #f1f1f1;
}

.g-pagination a,
.g-pagination a:hover {
    color: #333;
}

/* 页脚 */
.g-footer {
    background: #1a1a1a;
    padding: 1.5rem 0.75rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

.g-footer a {
    color: #fff;
}

.g-footer .links .list li {
    display: inline-block;
}

.g-footer .links .list li:after {
    content: "|";
}

.g-footer .links .list li.last:after {
    content: "";
}

/* 文章 */
.g-article {
    margin-bottom: 2rem;
}

.g-article .title {
    font-size: 1.8rem;
    font-weight: 900;
}

.g-article .source {
    font-size: 1.2rem;
    font-weight: 300;
}

.g-article .tags {
    margin-top: 2rem;
}

.g-article .content {
    margin-top: 3rem;
}

.g-article .content pre > code {
    font-size: 14px;
    line-height: 22px;
}

.g-article .content a {
    color: #4078c0;
    text-decoration: none !important;
    border-bottom: 1px solid #4078c0;
    transition: all 0.2s ease-in-out 0s;
}

.g-article .content a:hover {
    color: #c00;
    border-bottom: 1px solid #c00;
}

.g-ow .left,
.g-ow .right {
    display: inline-block;
    vertical-align: top;
}

.g-ow .left {
    margin-right: 3%;
    width: 20%;
}

.g-ow .right {
    width: 75%;
}

.g-ow .left h1 {
    font-size: 1.9rem;
}

.g-ow .content {
    margin-top: 0;
}

@media screen and (max-width: 650px) {
    html {
        font-size: 16px;
    }

    .g-header {
        position: relative;
        padding: 0.5rem 1rem;
        width: auto;
        max-width: 100%;
    }

    .g-header a {
        color: #333;
    }

    .g-header .list .cat {
        display: inline-block;
    }

    .g-header .list .cat-list {
        position: absolute;
        display: none;
        padding: 0.5rem 1.5rem;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        z-index: 2;
        opacity: 0;
        transition: all 0.2s ease-in-out 0s;
    }

    .g-header .list .cat-list.show {
        display: block;
    }

    .g-header .list .cat-list.in {
        opacity: 1;
    }

    .g-header .list .cat-list li {
        display: block;
    }

    .g-banner {
        display: none;
    }

    .g-main {
        margin: 1rem 1.5rem;
    }

    .g-category {
        display: none;
    }

    .g-posts .title {
        display: none;
    }

    .g-posts .left,
    .g-posts .right {
        display: block;
        width: 100%;
    }

    .g-posts .left {
        margin-top: 0;
        color: #999;
    }

    .g-posts time {
        display: inline;
    }

    .g-posts time .time1 {
        display: inline;
        line-height: 0;
        background: none;
        color: #999;
        font-size: 1.5rem;
    }

    .g-posts .left .cat {
        display: inline-block;
        margin-left: 2rem;
        font-size: 1.2rem;
        color: #999;
    }

    .g-posts .post-title {
        font-size: 1.2rem;
    }

    .g-posts .post-source {
        display: none;
    }

    .g-posts .post-item {
        margin-bottom: 2rem;
    }

    .g-posts .post-item .sep {
        margin: 2rem auto 0;
        width: 70%;
    }

    .g-posts .post-item.image .right {
        width: 100%;
    }

    .g-posts .post-item.image .post-image {
        float: none;
        width: 100%;
        margin-top: 0;
    }

    .g-pagination {
        margin-bottom: 2rem;
        font-size: 1rem;
    }

    .g-pagination .pre span,
    .g-pagination .next span {
        padding: 0.2rem 1rem;
    }

    .g-footer {
        padding: 0.5rem;
    }

    .g-article .title {
        font-size: 1.6rem;
    }

    .g-article .content {
        margin-top: 2rem;
    }

    .g-ow .left,
    .g-ow .right {
        display: block;
        width: 100%;
    }

    .g-ow .left {
        margin: 0 auto;
    }
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.article-tips {
    margin-bottom: 1em;
    color: red;
    background-image: -webkit-linear-gradient(358deg, #f35626, #feab3a);
    background-image: linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    -webkit-animation: hue 10s infinite linear;
    animation: hue 10s infinite linear;
}

.article-tips p {
    margin: 0 !important;
}