<!-- TODO -->
<div id="toc" class="widget-wrap">
    <div class="widget-title">TOC</div>
    <div class="widget">
        <%- toc(page.content, { list_number: false, max_depth: 3 }) %>
    </div>
</div>
