#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em
  display: inline-block
  float: left

#footer-right
  line-height: line-height
  font-size: 0.85em
  display: inline-block
  float: right
  text-align: right

.footer-right-list li
  display: inline-block
  margin-left: 4px

.footer-beian
  color: #999!important
  text-decoration: none!important

@media mq-tablet
  #footer-info
    margin-top: 10px
  #footer-info, #footer-right
    float: none
    display: block
    text-align: left
  .footer-right-list li
    margin-left: 0
    margin-right: 4px

@media mq-mobile
  #footer-info
    margin-top: 10px
  #footer-info, #footer-right
    float: none
    display: block
    text-align: left
  .footer-right-list li
    margin-left: 0
    margin-right: 4px